*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  font-family: monospace;
}

.container {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  display: flexbox;
  overflow-y: hidden;
  /* Hide scrollbar for Chrome, Safari and Opera */
}

.container::-webkit-scrollbar {
  display: none;
}

@media (min-width: 720px) {
  .container {
    overflow-y: auto;
    max-width: 720px;
    margin: auto;
  }
}

.container ul {
  width: calc((100% * 3) - (65px * 3));
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}

@media (min-width: 720px) {
  .container ul {
    width: 100%;
  }
}

.container ul li {
  list-style-type: none;
  display: flex;
  position: relative;
  justify-content: flex-start;
  width: calc(100% - 20px);
  height: auto;
  margin: 0 5px 0;
  padding: 15px 10px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.14);
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  color: #007d8f;
}

.container ul li span {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 60px;
  height: 30px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border: 1px solid #e5e5e5;
  border-bottom: 0;
  top: -30px;
  left: 30px;
  background: #ffffff;
  padding: 10px 0 0;
  font-size: 1.6rem;
  font-weight: 500;
  color: #007d8f;
}

.container ul li div {
  padding: 0 15px;
}

.container ul li div h2 {
  font-size: 1.4rem;
}

.container ul li div p {
  color: #454545;
  font-weight: 100;
  font-size: 1.2rem;
  line-height: 1.36;
}

@media (min-width: 720px) {
  .container ul li {
    max-width: 350px;
  }
}
